<div class="body container-fluid">
</br>
</br>
</br>
</br>
<div class="col-md-8 col-md-offset-2">
<div class="panel panel-default">
<div class="addproductinformation">
<h2 class="text-center">Edit Shop Name</h2>

<%= render 'form' %>

</div>
</div>
</br>
</br>
</br>
</br>

</br>
</br>
</br>
</br>

</div>



</div>