
  <div class="panel panel-default">
    
<div class="buyselcomment">
<h3>Add a Comment</h3>
  
    <div class="panel-heading">
<%=simple_form_for([@buysel,@buysel.buyselcms.build]) do |f| %>
       <div class="col-sm-12">
	<%= f.text_area :content,:maxlength=>"6000",label: ".",:rows => 6,:cols => 40,class: "form-control" %>
	</br>
	</div>
	<ol><%= f.submit"Add Comment", :title => "content can't be blank", :rel => 'tooltip',class: "btn btn-md"%></ol>
	</div>
<% end %>
</div>
</div>

