
<div class="body container-fluid ">

</br>
</br>
</br>

</br>
</br>
</br>
<div class="col-md-8 col-md-offset-2">
<div class="panel panel-default">

	

	<%=render 'photo'%>

</div>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>


</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</div>


</div>