<div class="input-group">
<h3><%=form_tag zzas_path, :method => 'get' do %>
   <p>
   
 <%= text_field_tag :search, params[:search],:size=>"40", placeholder: " Brand Name/Shop Name ",class: "form-control"%>
    <%= submit_tag "Search", :shop_name => nil,class: "btn btn-primary" %>
   
    
    
 </p>

<% end %>
</h3>
</div>