<div class="body container-fluid">
</br>
</br>
</br>
</br>
</br>
</br>
 
 <div class="row">
 <div class="col-md-8 col-md-offset-2">
 <div class="panel panel-default">
<ol> <h3> New Offer </h3>


 <%= render 'form' %>
 </ol>
 </div>
 </div>
 </div>


</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</div>