// Place all the styles related to the Aas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.aasform{
	              position:relative;
                  left:20px;
                  top:0px
                }

 .aasform h3{ position:relative;
                  left:90px;
                  top:0px}

  .aasproductinfo{position:relative;
             bottom:3px;
            

   display:block;
  word-wrap: break-word;
   
             }
   
.aasdescription{position:relative;
            
             bottom:5px;
  
    



             }

 


  .replyquestion{ word-wrap: break-word;

     }

    