// Place all the styles related to the Buysels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.my-primary{
  color:rgb(0, 0, 0) ;
  background-color:rgb(199, 218, 232);
}

.Internationaltrade{position:relative;
        left:30px}

.searchbar{position:relative;
        left:20px}

.expressyourproducts
{background-color:rgb(225, 230, 230); 
 color:rgb(130, 137, 183);}

.formmarkettype{  position:relative;
        top:10px}

.new-msg-header{
        position:relative;
        left:50px
}
.image-placeholder  {position:relative;
                   top:0px;
    align-self: left;
    text-align: left;
    width: 100%;}


.textarea { resize: none; }


.panel-heading img{position:relative;
                   top:20px}


.new-user-header{position:relative;
	      left:80px}


.card { height: 510px;
        overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;}
  


  .col-md-10 col-md-offset-1{ overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;}

  .col-md-6 { overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;}
  
             
 .col-md-9 { overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;}   

  .col-md-7  {overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;}


 .col-md-8  {overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;}       


  .col-md-3 {overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;}

  .col-md-4 {overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;}

  .col-md-5 {overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;}
 
.description{position:relative;
             bottom:23px;
            
}

.homeform{position: relative;
              left: 203px;}

.homeuser1{position:relative;
             bottom:35px;
             left:240px}

.homeuser{position:relative;
             bottom:5px;
             left:40px}
 .homedata{ 
    }

.homedata1{


  }



  .replyquestion{ word-wrap: break-word;
  
     }
