// Place all the styles related to the Comps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.addbusinessinformation{
	 position:relative;
	      left:0px
}
.addbusinessinformation h1{position:relative;
	      left:180px
	      }
.addbusinessinformationform span{position:relative;
	      left:100px;
	      }
	  
.usertousermess{position:relative;
	      left:630px;
	      top:30px }

.usertousermess h2{position:relative;
	      left:30px;}

.usermessform{position:relative;
	      right:300px;
	      top:30px}

.usermessform h2{position:relative;
	             left:30px;}

.companywidth{word-wrap: break-word;
              width: 25em;}
 .compcontent{word-wrap: break-word;
              width: 28em;}